<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">

                <ul class="nav nav-tabs nav-light-orange" >
                    <li class="navbar-form navbar-left">
                        <input class="form-control" type="text" [(ngModel)]="topology.displayName" placeholder="untitled"/>
                    </li>
                    <li><a href="javascript:void(0)" (click)="save()">
                            Save
                        </a>

                    </li>
                    <li><a href="javascript:void(0)" (click)="compile()">
                            Compile
                        </a>

                    </li>
                    <li><a href="javascript:void(0)" (click)="run()">
                            Run
                        </a>

                    </li>
                    <li *ngIf="appRunning" class="status-bar-custom" style="background:yellowgreen;color:white;">
                        Status : Running
                    </li>
                    <li *ngIf="!appRunning" class="status-bar-custom">
                        Status : Stopped
                    </li>
                    <!--                    <li class="dropdown">
                                            <a href="javascrit:void(0)"  class="dropdown-toggle" data-toggle="dropdown">Components
                                                <b class="caret"></b></a>
                                            <ul class="dropdown-menu">
                                                
                                            </ul>
                                        </li>-->
                </ul>

            </div>

        </div>
        <div id="componentsBox">
            <div class="divider" ></div>
            <h4>Components:</h4>
            <input class="form-control" type="text" [(ngModel)]="filtPlugs" placeholder="Search Plugin..." />
            <!-- components/ plugins -->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <h3 class="canvas-plugin-heading">Streaming</h3>
            <!--</div>-->
            <!--<div class="panel-body">-->
            <div class="list-group">
                <template ngFor let-p [ngForOf]="plugins | filterPlugins : filtPlugs">
                          <div  *ngIf="p.type=='STREAM_STAGE'" (click)="addObject(p)" class="list-group-item list-group-item-warning">
                        <a href="javascript:void(0)">{{p.name}}</a>
                    </div>
                </template>
            </div>
            <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <h3 class="canvas-plugin-heading">Process</h3>
            <!--</div>-->
            <!--<div class="panel-body">-->
            <div class="list-group">
                <template ngFor let-p [ngForOf]="plugins | filterPlugins : filtPlugs">
                          <div  *ngIf="p.type=='PROCESS_STAGE'" (click)="addObject(p)" class="list-group-item list-group-item-warning">
                        <a href="javascript:void(0)">{{p.name}}</a>
                    </div>
                </template>
            </div>
            <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <h3 class="canvas-plugin-heading">Database</h3>
            <!--</div>-->
            <!--<div class="panel-body">-->
            <div class="list-group">
                <template ngFor let-p [ngForOf]="plugins | filterPlugins : filtPlugs">
                          <div  *ngIf="p.type=='DATABASE_STAGE'" (click)="addObject(p)" class="list-group-item list-group-item-warning">
                        <a href="javascript:void(0)">{{p.name}}</a>
                    </div>
                </template>
            </div>
            <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-default">-->
            <!--<div class="panel-heading">-->
            <h3 class="canvas-plugin-heading">Reports</h3>
            <!--</div>-->
            <!--<div class="panel-body">-->
            <div class="list-group">
                <template ngFor let-p [ngForOf]="plugins | filterPlugins : filtPlugs">
                          <div  *ngIf="p.type=='REPORT_STAGE'" (click)="addObject(p)" class="list-group-item list-group-item-warning">
                        <a href="javascript:void(0)">{{p.name}}</a>
                    </div>
                </template>
            </div>
            <!--</div>-->
            <!--</div>-->

        </div>
        <!-- floting control buttons -->
        <div class="floating-toolbox">
            <button (click)="resetZoom()" *ngIf="previousZoom!=1" class="btn btn-sm btn-default">
                <i class="material-icons">refresh</i>
            </button>
            <button (click)="zoom(10)" class="btn btn-sm btn-default">
                <i class="material-icons">zoom_in</i>
            </button>
            <button (click)="zoom(-10)"class="btn btn-sm btn-default">
                <i class="material-icons">zoom_out</i>
            </button>
        </div>
        <div class="canvas-area">
            <div  id="drawBox"></div>
            <div id="outputBox">
                <div class="divider"></div>
                <div class="header-bar" (click)="showTerminal(100,false)">Output</div>
                <div class="terminal">
                    <div class="spacer">
                        <br/>#TERMINAL OUTPUT
                    </div>
                    <div class="terminal-output">
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="propertiesEditor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Edit Properties</h4>
                    </div>
                    <div class="modal-body">
                        <div *ngFor="let inp of selectedNode==undefined?[]:selectedNode.plugin.clientParams">
                            <label class="label">{{inp.name}}</label>
                            <!--for text inputs-->
                            <input class="form-control" *ngIf="inp.type=='text'" type="text" [(ngModel)]="inp.nv" />

                            <!--for autcompletes-->

                            <div *ngIf="inp.type=='autocomplete'">
                                <input class="form-control"  type="text" [(ngModel)]="inp.nv" (keypress)="suggestSchemaProps(inp.nv)">
                                <span *ngIf="suggestSchemaArgs.length">Fields from previous stage:</span><br/>
                                <div class="custom-label" *ngFor="let sgt of suggestSchemaArgs">{{sgt.value}}<span style="color:#666">--{{sgt.from}}</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <!--<button type="button" (click)="updateProperties()" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--</div>-->